## Deliverable 3. Create a Travel Itinerary Map.

In [28]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config_api import gmaps_key as gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [29]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Current Weather,Hotel Name
0,0,Airai,TL,54.77,-8.9266,125.4092,clear sky,Juvinal Martin
1,1,San Quintin,MX,74.32,30.4833,-115.9500,scattered clouds,Don Eddie's Sport Fishing Center
2,2,Castro,BR,66.92,-24.7911,-50.0119,clear sky,CHACARA BAILLY
3,5,Clyde River,CA,39.43,70.4692,-68.5914,light intensity drizzle,Qamaq Hotel
4,6,Inhambane,MZ,67.64,-23.8650,35.3833,clear sky,Oceano

In [30]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Max Temp</b></dt><dd>{Max Temp} °F</dd> 
<dt><b>Current Weather</b></dt><dd>{Current Weather}</dd>

</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [31]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4b. Display the figure
fig = gmaps.figure(center=(38.02077, 23.73524), zoom_level=1.8)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Nosivka']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Nosivka']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Bressanone']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Jork'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Augustow']

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,4:6].to_numpy()
end = vacation_end.iloc[0,4:6].to_numpy()
stop1 = vacation_stop1.iloc[0,4:6].to_numpy()
stop2 = vacation_stop2.iloc[0,4:6].to_numpy()
stop3 = vacation_stop3.iloc[0,4:6].to_numpy()

start

array([50.9315, 31.5828], dtype=object)

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(50, 31), zoom_level = 1.8)
Nosivka = start
Bressanone = stop1
Jork = stop2
Augustow = stop3 
roadtrip = gmaps.directions_layer(Nosivka , Nosivka , 
                                 waypoints=[Bressanone, Jork, Augustow],
                                 travel_mode="DRIVING")

In [24]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Current Weather,Hotel Name
0,31,Nosivka,UA,66.40,50.9315,31.5828,clear sky,U Teshchy
1,248,Bressanone,IT,73.17,46.7150,11.6560,scattered clouds,Hotel Löwenhof
2,51,Jork,DE,69.53,53.5333,9.6833,few clouds,Hotel Senator-Marina
3,284,Augustow,PL,67.08,53.8432,22.9798,broken clouds,Hotel Warszawa SPA & Resort

In [32]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Max Temp</b></dt><dd>{Max Temp} °F</dd> 
<dt><b>Current Weather</b></dt><dd>{Current Weather}</dd>

</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [42]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(38.02077, 23.73524), zoom_level=4)
fig = gmaps.figure(layout={
        'width': '1200px',
        'height': '1000px',
        'padding': '3px',
      
})
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='1000px', padding='3px', width='1200px'))